<!-- app/views/users/profile.html.erb -->
<h1>Welcome to your dashboard!</h1>
<!-- app/views/users/profile.html.erb -->
<h1>My Bookings</h1>
<table>
  <thead>
    <tr>
      <th>Court</th>
      <th>Time</th>
      <!-- Other booking attributes -->
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
    <tr>
        <td><%= booking.court.name %></td>
        <td><%= booking.date%></td>
        <td><%= booking.beginning_time.strftime("%H:%M") %></td>
        <td><%= booking.ending_time.strftime("%H:%M") %></td>
        <td>
          <%= link_to "Edit", edit_court_booking_path(booking.court, booking), class: "btn btn-secondary" %>
          <%= link_to "Delete", court_booking_path(booking.court, booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>My Courts</h1>
  <% @courts.each do |court| %>
    <li><%= court.id %></li>
  <% end %>
</ul>
<%= link_to "Add Court", new_court_path, class: "btn btn-primary" %>
   <%= link_to "Delete Account", delete_user_account_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
