<div class="card">
  <% court.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h5 class="card-title"><%= court.name %></h5>
  <p class="card-text"><%= court.address %></p>
  <p class="card-text"><%= court.price %></p>
  <%= link_to "View Details", court_path(court), class: "btn btn-primary" %>
</div>
