
<h1>Court Details</h1>

<p><strong>Name:</strong> <%= @court.name %></p>
<p><strong>Adress:</strong> <%= @court.address %></p>
<p><strong>Description:</strong> <%= @court.description %></p>
<p><strong>price:</strong> <%= @court.price %></p>
<!-- Add more details as needed -->

<%= link_to 'Book This Court', new_court_booking_path(@court), class: 'btn btn-primary' %>

<%= link_to 'Back to Courts', courts_path %>
